{{@each(it.products) => prod, index}}
<div class="col-lg-3 col-md-4 col-sm-6 mt-40">
	<div class="single-product-wrap">
		<div class="product-image">
			<a href="{{prod.get_absolute_url}}">
				<img src="{{prod.first_image_url}}" alt="{{prod.title}}">
			</a>
		</div>
		<div class="product_desc">
			<div class="product_desc_info">
				<div class="product-review">
					<h5 class="manufacturer">
						<a href="">{{prod.manufacturer}}</a>
					</h5>
					{% comment %} <div class="rating-box">
						<ul class="rating">
							<li><i class="fa fa-star-o"></i></li>
							<li><i class="fa fa-star-o"></i></li>
							<li><i class="fa fa-star-o"></i></li>
							<li class="no-star"><i class="fa fa-star-o"></i></li>
							<li class="no-star"><i class="fa fa-star-o"></i></li>
						</ul>
					</div> {% endcomment %}
				</div>
				<h4><a class="product_name" href="{{prod.get_absolute_url}}">{{prod.title}}</a></h4>
				<div class="price-box">
					{{@if (prod.discount_price)}}
						<span class="new-price new-price-2">{{prod.get_actual_discount_price}} грн.</span>
						<span class="old-price">{{prod.get_actual_price}} грн.</span>
						{{#else}}
						<span class="new-price">{{prod.get_actual_price}} грн.</span>
					{{/if}}
				</div>
			</div>
			<div class="add-actions">
				<ul class="add-actions-link">
					<li class="add-cart active"
						data-product-id="{{prod.id}}"
						data-product-title="{{prod.title}}"
						data-product-qty="1"
						data-product-price="{{prod.get_actual_price}}"
						data-product-link="{{prod.get_absolute_url}}"
						data-product-img-url="{{prod.first_image_url}}"
					>
						<div class="add-product-to-cart">
							Купити
						</div>
					</li>
					<li>
						<a
							href="#"
							title="quick view"
							class="quick-view-btn"
							data-bs-toggle="modal"
							data-bs-target="#exampleModalCenter"
							data-product-title="{{prod.title}}"
							data-product-manufacturer="{{prod.manufacturer}}"
							data-product-actual-price="{{prod.get_actual_price}}"
							{{@if (prod.discount_price)}}
								data-product-discount-price="{{prod.get_actual_discount_price}}"
							{{/if}}
							data-product-description="{{prod.description}}"
							data-product-images-urls="{{prod.images_urls}}"
							data-product-id="{{prod.id}}"
							data-product-qty="1"
							data-product-price="{{prod.get_actual_price}}"
							data-product-link="{{prod.get_absolute_url}}"
							data-product-img-url="{{prod.first_image_url}}"
						>
							<i class="fa fa-eye"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{/each}}