asgiref==3.5.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==37.0.4
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.0.6
django-import-export==3.0.0b4
django-rest-framework==0.1.0
django-tinymce==3.5.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
exceptiongroup==1.1.3
h11==0.14.0
idna==3.4
MarkupPy==1.14
odfpy==1.4.1
openpyxl==3.0.10
outcome==1.3.0.post0
Pillow==9.2.0
pycparser==2.21
PyMySQL==1.0.2
PySocks==1.7.1
python-decouple==3.6
pytz==2022.5
PyYAML==6.0.1
requests==2.28.2
schedule==1.2.0
selenium==4.15.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.2
tablib==3.2.1
trio==0.23.1
trio-websocket==0.11.1
tzdata==2022.1
urllib3==1.26.14
wsproto==1.2.0
xlrd==2.0.1
xlwt==1.3.0
