{% extends "base_generic.html" %}
{% block title %}<title>Про нас</title>{% endblock %}
{% load static %}
{% block local_styles %}
	<link rel="stylesheet" href="{% static 'styles/css/shopping-cart/shopping-cart.css' %}">
{% endblock %}
{% block content %}
	<div class="about-us-page pt-60 pb-60">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>Про нас</h1>
					<p>
						Ми раді вітати Вас на сторінках нашого інтернет-маркету. 
						Метою його створення було максимально спростити Вам процес вибору і покупки, 
						а також зробити його приємним і швидким.
						Ми хочемо позбавити Вас від необхідності багатогодинного ходіння по магазинах, 
						де часто недостатньо компетентний персонал не здатний допомогти Вам при виборі потрібних товарів.
					</p>
					<p>
						Перевагою нашого інтернет-маркету є низька ціна на товари, зручність замовлення, оперативність, 
						економія Вашого часу, професіоналізм і якісне обслуговування, 
						висококваліфіковане сервісне обслуговування, широкий вибір варіантів доставки і оплати, 
						програми лояльності, акції, спеціальні пропозиції, 
						а також індивідуальний підхід до кожного покупцеві.
						Ми піклуємося про високу якість нашої роботи і прагнемо приділяти максимум уваги кожному покупцеві, 
						бо розуміємо що саме від цього в основному залежить наш успіх. 
						Щиро сподіваємося, що співпраця з нами залишить у вас тільки найприємніші враження.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block local_scripts %}
	<script src="{% static 'js/modules/shopping-cart/dist/index.js' %}" defer></script>
{% endblock %}