{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>Оформлення замовлення</title>{% endblock %}

{% block local_styles %}
	<link rel="stylesheet" href="{% static 'styles/css/checkout/' %}{{css_name}}">
{% endblock %}
{% block content %}
	<div class="checkout-page">
		<div class="content-wraper mt-25 mb-25">
			<div class="container">
				<form id="checkout-form" action="/checkout" method="POST" autocomplete="off">
					{% csrf_token %}
					<h4>Ваші контактні дані</h4>
					<div class="form-group">
						<label for="{{ form.name.id_for_label }}">П.І.Б:</label>
						<div class="text-danger asterisk"></div>
						{{ form.name }}
						<span class="text-danger">{{ form.name.errors }}</span>
					</div>
					<div class="form-group">
						<label for="{{ form.phone_number.id_for_label }}">Мобільний Телефон:</label>
						<div class="text-danger asterisk"></div>
						<div class="phone-number-container">
							<span class="number-code"></span>
							{{ form.phone_number }}
							<div class="text-danger" style="margin-top: -12px;">{{ form.phone_number.errors }}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="{{ form.email.id_for_label }}">Email:</label>
						{{ form.email }}
						<span class="text-danger"></span>
					</div>
					<br>
					<h4>Доставка</h4>
					<input type="text" id="shipping-address" name="shipping_address" hidden="true">
					<div class="delivery-company-container">
						<input type="radio" id="ukr-post" name="delivery_company" class="form-check-input d-none">
						<div class="form-check mb-2">
							<label class="form-check-label" for="ukr-post">
								УкрПошта
							</label>
						</div>
						<div class="delivery-company-form">
							<div class="form-group">
								<label for="ukr-post-city">Назва міста (населеного пункту)</label>
								<input id="ukr-post-city" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="ukr-post-office">Виберіть відповідне відділення</label>
								<select id="ukr-post-office" class="form-control"></select>
							</div>
						</div>
					</div>
					<div class="delivery-company-container">
						<input class="form-check-input d-none" type="radio" id="nova-post" name="delivery_company">
						<div class="form-check mb-2">
							<label class="form-check-label" for="nova-post">
								Нова Пошта
							</label>
						</div>
						<div class="delivery-company-form">
							<div class="form-group">
								<div class="post-field-container">
									<label for="nova-post-city">Назва міста (населеного пункту)</label>
									<input
										id="nova-post-city"
										data-target-select-id="nova-post-office"
										type="text"
										class="form-control"
									>
									<div class="preloader d-none"></div>
									<span class="text-danger"></span>
									<div class="searched-results"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="post-field-container">
									<label for="nova-post-office">Виберіть відповідне відділення</label>
									<select id="nova-post-office" class="form-control"></select>
									<div class="preloader d-none"></div>
									<span class="text-danger"></span>
									<div class="searched-results"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-danger shipping-address-error-msg mb-3"></div>
					<button type="submit" class="btn btn-success">
						<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
						Замовлення підтверджую
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block local_scripts %}
	<script src="{% static 'js/modules/checkout/dist/' %}{{js_name}}" defer></script>
{% endblock %}