.mean-menu-toggler {
  display: block;
  z-index: 1;
  background-color: #fed700;
  width: 45px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.85s ease-in-out;
  cursor: pointer;
}
.mean-menu-toggler.menu-toggler-fixed {
  position: absolute;
  top: -60px;
  left: 0;
  background-color: #d9d7d7;
}
.mean-menu-toggler.menu-toggler-fixed span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}
.mean-menu-toggler.menu-toggler-fixed span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.mean-menu-toggler.menu-toggler-fixed span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}
.mean-menu-toggler span {
  background: #fff;
  display: block;
  position: absolute;
  height: 6px;
  width: 41px;
  border-radius: 9px;
  opacity: 1;
  left: 2px;
  transform: rotate(0deg);
  transition: 0.85s ease-in-out;
}
.mean-menu-toggler span:nth-child(1) {
  top: 6px;
}
.mean-menu-toggler span:nth-child(2) {
  top: 19px;
}
.mean-menu-toggler span:nth-child(3) {
  top: 32px;
}