.single-product-area .product-details-left .product-tns-details-thumbs {
  margin: 5px 0;
  text-align: center;
}
.single-product-area .product-details-left .product-tns-details-thumbs .product-thumb-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  cursor: pointer;
  opacity: 0.5;
}
.single-product-area .product-details-left .product-tns-details-thumbs .product-thumb-item.tns-nav-active {
  opacity: 1;
}
.single-product-area .product-details-left .product-tns-details-thumbs .product-thumb-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-product-area .product-details-left img {
  max-width: 100%;
}