.products-carousel-container {
	position: relative;
	padding: 0 50px;

	.products-tns-carousel {
		.single-product {
			padding: 15px 0;

			.single-product-wrap {
				margin: 5px 20px;
			}
		}
	}

	.banner-products {
		.banner-link {
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
		}
	}

	.products-tns-controls {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		[data-controls="prev"],
		[data-controls="next"] {
			top: 244px;
			position: inherit;
			font-size: 55px;
			color: rgba(36,36,36,.15);
			font-weight: 800;
			cursor: pointer;
			
			&:hover {
				color: #fed700;
			}
		}

		[data-controls="next"] {
			right: 0;
		}
	}
}