.products-carousel-container {
	position: relative;
	padding: 0 50px;

	.products-tns-carousel {
		.single-product {
			padding: 15px 0 0;

			.single-product-wrap {
				margin: 5px 20px;
			}
		}
	}

	.banner-products {
		.banner-link {
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
		}
	}

	.products-tns-controls {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		[data-controls="prev"],
		[data-controls="next"] {
			top: 244px;
			position: inherit;
			font-size: 55px;
			color: rgba(36,36,36,.15);
			font-weight: 800;
			cursor: pointer;
			
			&:hover {
				color: #fed700;
			}
		}

		[data-controls="next"] {
			right: 0;
		}
	}
}

@media only screen and (max-width: 767px) {
	.products-carousel-container {
		padding-bottom: 20px;

		.banner-products.products-tns-controls {
			[data-controls="prev"],
			[data-controls="next"] {
				top: 180px;
			}
		}

		.products-tns-controls {
			[data-controls="prev"],
			[data-controls="next"] {
				top: 140px;
			}
		}
	}
	.single-product-wrap {
		background-color: transparent;
		margin: 0 !important;

		.single-slide {
			position: relative;

			.slider-content {
				position: relative;
				z-index: 1;
			}

			.slider-product-image-wrp {
				position: absolute;
			}

			.slider-product-image-wrp img {
				height: 75%;
			}
		}
	}
}