.toggle-container {
	transition: all 0.35s ease-in-out;
	overflow: hidden;

	&.toggle-container-align-right {
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 10;
	}
	&:not(.active) {
		display: none;
	}
}


@media only screen and (max-width: 767px) {
	.toggle-container {
		&.toggle-container-align-right {
			right: auto;
		}
	}
}
