<div class="preloader-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="preloader-header-top mb-30"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="preloader-header-logo"></div>
			</div>
			<div class="col-sm-5">
				<div class="preloader-header-search"></div>
			</div>
			<div class="col-sm-5">
				<div class="preloader-header-shopping-cart"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="preloader-header-navigation mt-30 mb-40"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="preloader-main-content"></div>
			</div>
		</div>
	</div>
</div>