.toggle-container {
	transition: all 0.35s ease-in-out;
	overflow: hidden;

	&.toggle-container-align-right {
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 9;
	}
	&:not(.active) {
		display: none;
	}
}