.repair-services-page {
    .form-container {
        form {
            max-width: 550px;
            margin: 0 auto;

            .phone-number-container {

                [name="phone_number"] {
                    width: calc(100% - 35px);
                    padding-left: 0;
                    margin-left: -4px;
                    background-color: #eceff8;
                }
                .number-code {
                    display: inline-block;
                    background-color: #eceff8;
                    height: 45px;
                    line-height: 3.2;
                    vertical-align: top;
                    padding-right: 5px;
                }
            }
        }
    }

    .intro p,
    .our-advantages .advantage-text {
        font-size: 16px;
        color: #898989;
    }

    .our-advantages {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 15px;

        .svg-advantage-icon {
            display: inline-block;

            svg {
                width: 4.5em;
                height: 4.5em;
            }
        }
    }
}