<!DOCTYPE html>
<html class="no-js" lang="zxx">
	<head>
		{% block title %}{% endblock %}
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
		<!-- Add additional CSS in static file -->
		{% load static %}
		{% block local_styles %}{% endblock %}
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- Begin Body Wrapper -->
		<div class="body-wrapper">
			<!-- Begin Header Area -->
			<header>
				<!-- Begin Header Top Area -->
				<div class="header-top">
					<div class="container">
						<div class="row">
							<!-- Begin Header Top Left Area -->
							<div class="col-md-5">
								<div class="header-top-left">
									<ul class="phone-wrap">
										<li>
											{% for phone in phones %}
												<a href="tel:{{ phone.phone_number | cut:" " }}"
													class="d-inline pr-10">
													{{ phone.phone_number }}
													{% if phone.image %}
														<img
															class="pl-5 phone-icon-img"
															data-image-name="{{ phone.image }}"
														>
													{% endif %}
												</a>
											{% endfor %}
										</li>
									</ul>
								</div>
							</div>
							<!-- Header Top Left Area End Here -->
							<!-- Begin Header Top Right Area -->
							<div class="col-md-7">
								<div class="header-top-right">
									<div class="clearfix">
										<div class="address pull-right">
											<a href="https://goo.gl/maps/G3E46L1FV4m91pGp6">вулиця Краснопільська, 9, офіс 209, Дніпро</a>
										</div>
									</div>
								</div>
							</div>
							<!-- Header Top Right Area End Here -->
						</div>
					</div>
				</div>
				<!-- Header Top Area End Here -->
				<!-- Begin Header Middle Area -->
				<div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
					<div class="container">
						<div class="row">
							<!-- Begin Header Logo Area -->
							<div class="col-lg-3">
								<div class="logo pb-sm-30 pb-xs-30">
									<a href="/">
										<img src="images/menu/logo/1.jpg" alt="">
									</a>
								</div>
							</div>
							<!-- Header Logo Area End Here -->
							<!-- Begin Header Middle Right Area -->
							<div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
								<!-- Begin Header Middle Searchbox Area -->
								<form action="#" class="hm-searchbox">
									<div class="search-input-container">
										<input id="search-products" class="search-products-input" type="text" placeholder="Я шукаю...">
										<div class="overlay"></div>
										<div
											class="searched-results"
											data-phones="{% for phone in phones.all %}{{ phone.phone_number }}{% if forloop.first %}|{% endif %}{% endfor %}"
										></div>
									</div>
									<button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
								</form>
								<!-- Header Middle Searchbox Area End Here -->
								<!-- Begin Header Middle Right Area -->
								<div class="header-middle-right">
									<ul class="hm-menu">
										<!-- Begin Header Mini Cart Area -->
										<li class="hm-minicart">
											<div class="hm-minicart-trigger">
												<span class="item-icon"></span>
												<span class="item-text">
													<span class="cart-sum"></span>
													<span class="cart-item-count"></span>
												</span>
											</div>
											<span></span>
											<div class="toggle-container toggle-container-align-right">
												<div class="minicart">
													<ul class="minicart-product-list"></ul>
													<p class="minicart-total">До сплати: <span class="sum"></span></p>
													<div class="minicart-button">
														<a href="/shopping-cart" class="li-button btn li-button-dark li-button-fullwidth li-button-sm">
															<span>Перейти до кошику</span>
														</a>
														<a href="/checkout" class="li-button btn li-button-fullwidth li-button-sm">
															<span>Оформити замовлення</span>
														</a>
													</div>
												</div>
											</div>
										</li>
										<!-- Header Mini Cart Area End Here -->
									</ul>
									<a href="#mean-menu-mobile" class="d-lg-none mean-menu-toggler">
										<span></span>
										<span></span>
										<span></span>
									</a>
								</div>
								<!-- Header Middle Right Area End Here -->
							</div>
							<!-- Header Middle Right Area End Here -->
						</div>
					</div>
				</div>
				<!-- Header Middle Area End Here -->
				<!-- Begin Header Bottom Area -->
				<div class="header-bottom header-sticky d-none d-lg-block mb-0">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<!-- Begin Header Bottom Menu Area -->
								<div class="hb-menu hb-menu-2 d-xl-block">
									<nav>
										<ul>
										{% for category in categories %}
											{% if category.subcategory_set.all.count > 0 %}
												<li class="megamenu-static-holder"><a href="/products-catalog/{{category.id}}">{{ category.name }}</a>
													<ul class="megamenu hb-megamenu">
														{% for subcategory in category.subcategory_set.all %}
															<li style="min-width: calc(100% / {{ category.subcategory_set.all.count }})">
																<a href="/products-subcatalog/{{category.id}}/{{subcategory.id}}">{{ subcategory.name }}</a>
																{% if subcategory.subsubcategory_set.all.count > 0 %}
																	<ul>
																	{% for subsubcategory in subcategory.subsubcategory_set.all %}
																		<li><a href="/products-subsubcatalog/{{subcategory.id}}/{{subsubcategory.id}}">{{ subsubcategory.name }}</a></li>
																	{% endfor %}
																	</ul>
																{% endif %}
															</li>
														{% endfor %}
													</ul>
												</li>
											{% else %}
												<li><a href="#">{{ category.name }}</a></li>
											{% endif %}
										{% endfor %}
										</ul>
									</nav>
								</div>
								<!-- Header Bottom Menu Area End Here -->
							</div>
						</div>
					</div>
				</div>
				<!-- Header Bottom Area End Here -->
				<!-- Begin Mobile Menu Area -->
				<div class="mobile-menu-area d-lg-none d-xl-none col-12">
					<div class="container"> 
						<div class="row">
							<div class="mobile-menu">
							</div>
						</div>
					</div>
				</div>
				<!-- Mobile Menu Area End Here -->
			</header>
			<!-- Header Area End Here -->

			{% block breadcrumbs %}
				{% if breadcrumbs %}
					<div class="breadcrumb-area">
						<div class="container">
							<div class="breadcrumb-content">
								<ul>
									{% for breadcrumb in breadcrumbs %}
										{% if breadcrumb.link %}
											<li>
												{% if breadcrumb.link == '/' %}
													<a href="{{ breadcrumb.link }}">{{ breadcrumb.title }}</a>
												{% else %}
													<a href="/{{ breadcrumb.link }}">{{ breadcrumb.title }}</a>
												{% endif %}
											</li>
											{% else %}
											<li class="active">{{ breadcrumb.title }}</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				{% endif %}
			{% endblock %}

			{% block content %}
			{% endblock %}
		<div class="footer">
			<div class="footer-static-middle">
				<div class="container">
					<div class="footer-logo-wrap pt-50 pb-35">
						<div class="row">
							<!-- Begin Footer Logo Area -->
							<div class="col-md-4">
								<div class="footer-logo">
									<img src="images/menu/logo/1.jpg" alt="Footer Logo">
									<p class="info">
										{% comment %} We are a team of designers and developers that create high quality HTML Template & Woocommerce, Shopify Theme. {% endcomment %}
									</p>
								</div>
								<ul class="des">
									<li>
										<span>Адреса: </span>
										<a href="https://goo.gl/maps/G3E46L1FV4m91pGp6">вулиця Краснопільська, 9, офіс 209, Дніпро</a>
									</li>
									<li>
										<span>Контакти: </span>
										{% for phone in phones %}
											{% if forloop.last %}
												| 
											{% endif %}
											<a href="tel:{{ phone.phone_number | cut:" " }}">
												{{ phone.phone_number }}
											</a>
										{% endfor %}
									</li>
									<li>
										<span>Email: </span>
										<a href="mailto://vts.07@ukr.net">vts.07@ukr.net</a>
									</li>
								</ul>
								<div class="footer-block">
									<span>Ми в соцмережах: </span>
									<a class="facebook" href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="footer-block">
									<h3 class="footer-block-title">Каталог</h3>
									<ul>
										{% for category in categories %}
											<li>
												<a href="/products-catalog/{{category.id}}">{{ category.name }}</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="col-md-4">
								<div class="footer-block">
									<h3 class="footer-block-title">Клієнтам</h3>
									<ul>
										<li><a href="/about-us">Про нас</a></li>
										<li><a href="/shipping">Оплата і доставка</a></li>
										<li><a href="/exchange-and-return">Обмін та повернення</a></li>
										<li><a href="/repair">Ремонт та обслуговування</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
		<!-- Body Wrapper End Here -->
		<a id="scrollUp"><i class="fa fa-angle-double-up"></i></a>

		<div class="d-none">
			<nav id="mean-menu-mobile">
				<ul>
				{% for category in categories %}
					{% if category.subcategory_set.all.count > 0 %}
						<li>
							<a href="/products-catalog/{{category.id}}">{{ category.name }}</a>
							<ul>
								{% for subcategory in category.subcategory_set.all %}
									<li>
										<a href="/products-subcatalog/{{category.id}}/{{subcategory.id}}">{{ subcategory.name }}</a>
										{% if subcategory.subsubcategory_set.all.count > 0 %}
											<ul>
											{% for subsubcategory in subcategory.subsubcategory_set.all %}
												<li>
													<a href="/products-subsubcatalog/{{subcategory.id}}/{{subsubcategory.id}}">{{ subsubcategory.name }}</a>
												</li>
											{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li><a href="#">{{ category.name }}</a></li>
					{% endif %}
				{% endfor %}
					<!-- Begin Header Bottom Menu Information Area -->
					<li class="hb-info f-right p-0 d-sm-none d-lg-block">
						<div class="address">
							<a href="https://goo.gl/maps/G3E46L1FV4m91pGp6">вулиця Краснопільська, 9, офіс 209, Дніпро</a>
						</div>
					</li>
					<!-- Header Bottom Menu Information Area End Here -->
				</ul>
			</nav>
		</div>
		{% block local_scripts %}{% endblock %}
	</body>
</html>
